In [27]:
import pymysql

In [6]:
conn = pymysql.connect(host="localhost", port=3306, user="root",password="123456",database="bank_2",charset="utf8")

In [11]:
cursor = conn.cursor()
ret = cursor.execute("select * from account;")
print("{} rows in set.".format(ret))

24 rows in set.

In [12]:
cursor.close()
conn.close()

In [43]:
db1 = pymysql.connect(host="localhost", port=3306, user="root",password="123456",database="bank_2",charset="utf8")
        
id = "11"
name = "歌"
name2 = "lee"
cursor = db1.cursor()
sql = "select * from officer where CUST_ID=%s;"
ret = cursor.execute(sql, [11])
if ret:
    print("确有此人")
else:
    print("查无此人")
cursor.close()
db1.close()

确有此人

In [29]:
db2 = pymysql.connect(host="localhost", port=3306, user="root", password="123456",
            database="bank_2",charset="utf8")
cursor2 = db2.cursor()
sql2 = "select * from officer;"

try:
    cursor2.execute(sql2)
    res = cursor2.fetchall()
    for row in res:
        for i in range(0,7):
            print(row[i])
        print("------------")
except:
    print("unable to fetch data!")

cursor2.close()
db2.close()  #关闭连接

1
None
哨
华
2005-05-01
校长
10
------------
2
None
歌
金
2001-01-01
董事长
11
------------
3
None
俊杰
魏
2002-06-30
董事长
12
------------
4
None
海桥
陶
2005-05-01
董事长
13
------------

In [64]:
db2 = pymysql.connect(host="localhost", port=3306, user="root", password="123456",
            database="bank_2",charset="utf8")

cursor2 = db2.cursor(cursor=pymysql.cursors.DictCursor)#设置为字典
sql2 = "select * from officer;"

cursor2.execute(sql2)
res = cursor2.fetchone()
print(res)

cursor2.close()
db2.close()  #关闭连接

{'OFFICER_ID': 1, 'END_DATE': None, 'FIRST_NAME': '哨', 'LAST_NAME': '华', 'START_DATE': datetime.date(2005, 5, 1), 'TITLE': '校长', 'CUST_ID': 10}

# 完整练习

In [19]:
#创建链接
db1 = pymysql.connect(host="localhost", port=3306, user="root", password="123456",
                     database="dbtest", charset="utf8")

sql = "DROP TABLE IF EXISTS employee;"
cursor1 = db1.cursor(cursor=pymysql.cursors.DictCursor)

#创建employee表
sql1 = """ create table employee(
            id int not null,
            first_name char(255) not null,
            sex char(255),
            age int,
            income float,
            primary key (id));
            """
cursor1.execute(sql1)

OperationalError: (1050, "Table 'employee' already exists")

In [23]:
#插入数据
sql2 = "insert into employee values('1','lee','男','21','0');"
sql3 = "insert into employee values(2,'chen','女','20','0');"
try:
    cursor1.execute(sql3)
    db1.commit()
except:
    db1.rollback()

In [33]:
#查询
sql4 = "select * from employee;"
try:
    cursor1.execute(sql4)
    res = cursor1.fetchall()
    for row in res:
        print(row)
        print("---------")
except:
    print("unable to fetch data")

{'id': 1, 'first_name': 'lee', 'sex': '男', 'age': 21, 'income': 0.0}
---------
{'id': 2, 'first_name': 'chen', 'sex': '女', 'age': 20, 'income': 0.0}
---------

In [35]:
#更新
sql5 = "update employee set income = 1000 where id = 1;"
try:
    cursor1.execute(sql5)
    db1.commit()
except:
    db1.rollback()

In [36]:
#删除
sql6 = "delete from employee where id = 2;"
try:
    cursor1.execute(sql6)
    db1.commit()
except:
    db1.rollback()